.trip{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 70px;
}
.fa-arrow-left{
   
   background-color: red;
   font-size: 30px;
   position: relative;
   left: 45%;
   top: 120px;
   border-radius: 50% ;
   padding: 5px;
   color: aliceblue;
}
.back{
    font-size: 25px;
    position: relative;
    left: 48%;
    top: 90px;
}
.box{
    width: 120px;
    height: 200px;
    border: 2px solid red;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    padding: 30px;
    padding-left: 60px;
    padding-right: 50px;
    color: red;
    font-size: 17px;
}
.complete{
    text-decoration: line-through;
}
.ic{
 
    position: relative;
    top: 140px;
    text-align: center;
  }