.main-dot{
    width: 180px;
    height: 300px;
    border: 2px solid red;
    padding-left: 40px;
    text-align: center;
    margin: auto;
    padding-top: 40px;
    font-size: 20px;
    border-radius: 8px;
    position: relative;
    top: 150px;
    box-shadow: 4px 1px 10px;

}
.mn{
    width: 450px;
    height: 90vh;
    border: 1px solid black;
    margin: auto;
}
.to{
    color: red;
    font-size: larger;
}
.task{
    color: red;
    text-decoration: line-through;
    font-size: 22px;

}
.fa-plus{
    color: aliceblue;
    background-color: red;
    font-size: larger;
    border-radius: 50%;
    position: relative;
    top: 80px;
    padding: 5px;
}
.paris{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 180px;
    top: 80px;
}
.fa-arrow-left{
    font-size: 30px;
    background-color: red;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    top: 40px;
    left: 40px;
}
.down{
    width: 100%;
    height: 30px;
    background-color: rgb(249, 247, 247);
    text-align: center;
    padding-top: 20px;
}